{% extends 'votingAppHTML/base.html' %}

{% block title %}
    Author - {{ author }}
{% endblock %}

{% block content %}
    <h2>{{ author }}</h2>

    <section>
        <table>
            <tr>
                <th>First Name:</th>
                <td>{{ author.author_first_name }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ author.author_last_name }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Author Scores (avg: #.#) </h3>
        <ul>
            {% for score in score_list %}
                <li>
                    {{ score }}
                </li>
            {% empty %}
                <li><em>There are currently no scores for this author.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}