{% extends 'votingAppHTML/base.html' %}

{% block title %}
    Member - {{ member }}
{% endblock %}

{% block content %}
    <h2>{{ member }}</h2>

    <section>
        <table>
            <tr>
                <th>First Name:</th>
                <td>{{ member.member_first_name }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ member.member_last_name }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Years Participated</h3>
        <ul>
            {% for year in year_list %}
                <li>
                    {{ year }}
                </li>
            {% empty %}
                <li><em>There are currently no years for this judge.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}