{%  extends 'votingAppHTML/base.html' %}

{% block title %}
Voting Page
{% endblock %}

{% block content %}


    <h2>Authors</h2>
    <div class="position-sticky">
        <p>You have made
            <p id="remaining"></p>
        <p>votes </p>

    </div>

        {% for author in author_list %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="wpmm[]" id="defaultCheck1{{ author.author_first_name }}">
              <label class="form-check-label" for="defaultCheck1{{ author.author_first_name }}">
                  {{ author }}
              </label>
                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1{{ author.author_first_name }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1{{ author.author_first_name }}">Toggle first element</a>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2{{ author.author_first_name }}" aria-expanded="false" aria-controls="multiCollapseExample2{{ author.author_first_name }}">Toggle second element</button>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1{{ author.author_first_name }} multiCollapseExample2{{ author.author_first_name }}">Toggle both elements</button>
                </p>
                <div class="row">
                  <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample1{{ author.author_first_name }}">
                      <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample2{{ author.author_first_name }}">
                      <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      </div>
                    </div>
                  </div>
                </div>

                </div>


            </div>
        {% empty %}
            <li><em>There are currently no courses available.</em></li>
        {% endfor %}
<script type = "text/javascript">
    var numberOfChecked = 0;
    document.getElementById("remaining").innerHTML = numberOfChecked;





</script>


{% endblock %}