* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", sans-serif;
    background-color: #d7cfc6;
}

body {
    margin: 0px;
}

.grid {
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr 1fr 100px;
    grid-gap: 20px;
}

.grid div {

}

.header {
    background-color: #282828;
    grid-column: 1 / -1;
    color: white;
    padding: 20px;
    text-align: center;
}

.aside {
    grid-column: 2 / 3;
    padding: 20px;
    text-align: center;
}

.intro {
    grid-column: 1 / -1;
    margin: 20px;
    padding: 20px;
    font-size: 1.25em;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    grid-column: 1 / -1;
    padding: 10px;
    text-align: center;
    color: aquamarine;
}

.form {
    grid-column: 4 / span 2;
    padding: 20px;
    text-align: center;
}

.form form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
}
