{%  extends 'votingAppHTML/base.html' %}

{% block title %}
Voting Page
{% endblock %}

{% block content %}
    <div class="intro">
        This is the text area where we introduce the first round of voting. Choose 5 candidates out of the 75
        candidates listed for our Lifetime Achievement Award in military writing and scholarship. The writers chosen in this
        round will move on to the next round of voting.
    </div>

    <div class="sticky" id="general">
        <h2>
            <i>You have <small class="counter"></small> choice(s) remaining</i>
        </h2>
    </div>

    <div class="aside">
    <h2>Your Choices</h2>
    <ul id="choices">


    </ul>

    </div>



            <div id="general-content" class="form">
                <h2>The Nominees:</h2>
                <form method="post" action="results.html" style="background-color: #d7cfc6">
                    <div class="subgrid">
                        {% for author in author_list %}
                            <div>
                                <label for="{{ author.author_first_name }}{{ author.author_last_name }}checkbox">
                                    {{ author.author_first_name }} {{ author.author_last_name }}
                                </label>
                                <input class="form-check-input" type="checkbox"
                                       id="{{ author.author_first_name }}{{ author.author_last_name }}checkbox"
                                       name="votebox" value="{{ loop.index }}" onchange="updateChoice(this, this.id)">
                                <br>
                                <a href="#" target="_blank">Read More</a>
                            </div>
                        {% empty %}
                            <li><em>There are currently no candidates available.</em></li>
                        {% endfor %}
                        <input type="submit" value="Submit your vote">
                    </div>

                </form>
                <button type="submit">Submit your vote</button>

            </div>
{#                <ul>#}
{##}
{#                    {% for author in author_list %}#}
{##}
{##}
{#                  <li><input class="form-check-input" type="checkbox" name="wpmm[]" onchange="updateChoice(this, this.id)"#}
{#                             id="defaultCheck1{{ author.author_first_name }}{{ author.author_last_name }}">#}
{#                      <label class="form-check-label"#}
{#                             for="defaultCheck1{{ author.author_first_name }}{{ author.author_last_name }}">#}
{#                  {{ author }}#}
{#              </label>#}
{#                      <p>#}
{#                  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1{{ author.author_first_name }}{{ author.author_last_name }}"#}
{#                     role="button" aria-expanded="false" aria-controls="multiCollapseExample1{{ author.author_first_name }}{{ author.author_last_name }}">Toggle first element</a>#}
{#                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2{{ author.author_first_name }}{{ author.author_last_name }}"#}
{#                          aria-expanded="false" aria-controls="multiCollapseExample2{{ author.author_first_name }}{{ author.author_last_name }}">Toggle second element</button>#}
{#                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".{{ author.author_last_name }}{{ author.author_first_name }}" aria-expanded="false"#}
{#                          aria-controls="multiCollapseExample1{{ author.author_first_name }}{{ author.author_last_name }} multiCollapseExample2{{ author.author_first_name }}#}
{#{{ author.author_last_name }}">#}
{#                      Toggle both elements</button>#}
{#                </p>#}
{#                <div class="row">#}
{#                  <div class="col">#}
{#                    <div class="collapse {{ author.author_last_name }}{{ author.author_first_name }}" id="multiCollapseExample1{{ author.author_first_name }}{{ author.author_last_name }}">#}
{#                      <div class="card card-body">#}
{#                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="col">#}
{#                    <div class="collapse {{ author.author_last_name }}{{ author.author_first_name }}" id="multiCollapseExample2{{ author.author_first_name }}{{ author.author_last_name }}">#}
{#                      <div class="card card-body">#}
{#                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{##}
{#                {% empty %}#}
{#                    <li><em>There are currently no courses available.</em></li>#}
{#                {% endfor %}#}
{#                </ul>#}
{#            </div>#}


<script type = "text/javascript">
   $(function() {
	$('#general h2 .counter').text('5');

	var generallen = $("#general-content input[name='votebox']:checked").length;
	if(generallen>0){$("#general h2 .counter").text('('+5-generallen+')');}else{$("#general h2 .counter").text('5');}
});

function updateCounter() {
    var len = $("#general-content input[name='votebox']:checked").length;
	if(len>0){$("#general h2 .counter").text(5-len);}else{$("#general h2 .counter").text('5');}
}

$("#general-content input:checkbox").on("change", function() {
	updateCounter();

});

$(function() {
	$('.select_all').change(function() {
		let checkthis = $(this);
		let checkboxes = $(this).parent().next('ul').find("input[name='votebox']");

		if(checkthis.is(':checked')) {
			checkboxes.attr('checked', true);
		} else {
			checkboxes.attr('checked', false);
		}
        updateCounter();

	});

});

</script>

<script>
function updateChoice(state, id) {

    let author = document.getElementById(id).previousElementSibling.innerHTML;
    if (document.getElementById(id).checked)
    {
        document.getElementById(id).classList.toggle('checked');
        let choiceItem = document.createElement('li');
        let spacer = document.createElement('br');
        let choiceText = document.createTextNode(author);
        choiceItem.appendChild(choiceText);
        choiceItem.setAttribute('id', author);
        choiceItem.setAttribute('style', 'text-align: left;')
        document.getElementById('choices').appendChild(choiceItem);
        document.getElementById('choices').appendChild(spacer);
    }
    else {
        document.getElementById(author).remove();
        document.getElementById(id).classList.toggle('checked')
    }
    enforceMaxChoices()


}

function enforceMaxChoices() {

    if ($("#general-content input[name='votebox']:checked").length===5)
    {
        let remaining = document.getElementById('general-content').getElementsByClassName('form-check-input');
        for (let i=0; i<remaining.length; i++) {

            if (remaining[i].classList.contains('checked')) {;}
            else{remaining[i].setAttribute('disabled', 'disabled');}


        }


    }
    else {
        let remaining = document.getElementById('general-content').getElementsByClassName('form-check-input');
        for (let i=0; i<remaining.length; i++) {

            remaining[i].removeAttribute('disabled')



        }

    }
}
</script>



{% endblock %}
